# basic settings
txindex=1
testnet=1 # TESTNET
logtimestamps=1

# optional indices
txindex=1
addressindex=1
timestampindex=1
spentindex=1

# JSONRPC
server=1
rpcuser=dashrpc
rpcpassword=abcdefghijklmnopqrstuvwxyz0123456789ABCDEF10
rpcallowip=127.0.0.1
